<!DOCTYPE html>
<html lang="en">

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <% if (locals.error) { %>
            <p><%= error %></p>
        <% } %> 
    </div>
    <form action="/user/login" method="post">
        <label>Email</label>
        <input type="text" name="email" required />
        <br>
        <label>Password</label>
        <input type="text" name="password" required />
        <br>
        <button type="submit">Login</button>
    </form>

    
</body>
</html>